<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{date}}</title>
  </head>
  <body>
  <h1>{{title}}</h1>
  <p>{{date}}<br>{{content}}</p>
  <img class="image" src="{{image}}">
  <a href ="/"><button>back</button></a>
  </body>
</html>
