<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../main.css" media="screen" title="no title">
    <title>{{date}}</title>
  </head>
  <body>
  <h1>{{city}}</h1>
  <table>
    <tr>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Wind direction</th>
    </tr>
    <tr>
      <td>{{temp}}</td>
      <td>{{humidity}}</td>
      <td>{{wind_direction}}</td>
    </tr>
  </table>
  <img src="{{image}}" alt="" class="image"><br>
  <a href ="/"><button>back</button></a>
  </body>
</html>
